.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;

  .walletPopup {
    max-width: 500px;
    width: 100%;
    margin: auto;
    border-radius: 14px;
    box-shadow: 3px 3px 6px 0 #000;
    border: solid 1px #86b0ff;
    background-color: #171b2a;
    color: #fff;
    padding: 20px;
    align-items: center;

    .title {
      font-family: "Mgothic-090";
      text-align: center !important;
      margin-top: 67px;
      margin-bottom: 49px;
      font-size: 38px;
      text-align: left;
      color: #86b0ff;
    }

    .buttonContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;

      button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        color: #fff;
        background-color: transparent;
        padding: 8px;
        border: solid 1px #86b0ff;
        border-radius: 4px;
        font-family: "Mgothic-060";
        font-size: 24px;
      }

      .kaikas {
        img {
          width: 60px;
          height: 60px;
          object-fit: contain;
        }

        p {
          justify-content: center;
        }

        border-radius: 14px;
        border: solid 2px #36f;
        background-color: #cedcf5;
        height: 80px;
        letter-spacing: -1.68px;
        color: #36f;
      }

      .klip {
        img {
          width: 46px;
          height: 24px;
          object-fit: contain;
        }

        border-radius: 14px;
        border: solid 2px #131205;
        background-color: #fae64c;
        height: 80px;
        color: #131205;
        letter-spacing: -1.68px;
      }

      .close {
        height: 80px;
        letter-spacing: -1.68px;
        text-align: center;
        color: #86b0ff;
        border-radius: 14px;
        border: solid 1px #4e699b;
      }
    }

    .logoContainer {
      display: flex;
      justify-content: center;
      margin-top: 62px;
      margin-bottom: 55px;
    }
  }
}
