.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;

  .klipQrPopup {
    max-width: 600px;
    width: 100%;
    margin: auto;
    border-radius: 14px;
    box-shadow: 3px 3px 6px 0 #000;
    border: solid 1px #86b0ff;
    background-color: #171b2a;
    color: #fff;
    padding: 20px;

    .title {
      margin: 0px;
      font-size: 30px;
      margin-bottom: 24px;
    }

    .qrCodeContainer {
      display: flex;
      justify-content: center;

      .qrCode {
        margin: 12px 0px;
      }
    }

    .divider {
      border: solid 1px #86b0ff;
    }

    .content {
      font-size: 14px;
      line-height: 30px;
    }

    .close {
      cursor: pointer;
      width: 100%;
      background-color: transparent;
      border: solid 1px #86b0ff;
      border-radius: 8px;
      color: #fff;
      display: flex;
      justify-content: center;
      padding: 8px;
    }
  }
}
