@font-face {
  font-family: "GmarketSans";
  src: url("./assets/fonts/GmarketSansTTFLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("./assets/fonts/GmarketSansTTFMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("./assets/fonts/GmarketSansTTFBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mgothic-020";
  src: url("./assets/fonts/210-Mgothic-020.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Mgothic-040";
  src: url("./assets/fonts/210-Mgothic-040.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Mgothic-050";
  src: url("./assets/fonts/210-Mgothic-050.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Mgothic-060";
  src: url("./assets/fonts/210-Mgothic-060.woff2") format("woff2");
  font-style: normal;
}


@font-face {
  font-family: "Mgothic-070";
  src: url("./assets/fonts/210-Mgothic-070.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Mgothic-080";
  src: url("./assets/fonts/210-Mgothic-080.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Mgothic-090";
  src: url("./assets/fonts/210-Mgothic-090.woff2") format("woff2");
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "GmarketSans";
  font-weight: 300;
  background-color: #000;
  margin: 0;
}
